.form {
   background-color: #fff;
   box-shadow: -5px 5px 20px #dfdede;
   padding: 20px;
   max-width: 400px;
   margin: 20px auto 50px auto;
   border-radius: 4px;
}
.form-status {
   color: #67d067;
}
.form-fieldset {
   border: none;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px 0px;
}
.form-legend {
   font-size: 18px;
   text-transform: uppercase;
   border-bottom: 2px solid #dfdede;
   display: flex;
   width: 100%;
   padding-bottom: 10px;
}
.form-label {
   display: flex;
   flex-direction: column;
   border: 1px solid #dfdede;
   padding: 6px;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 1;
   color: var(--primary-dark);
   gap: 6px;
   border-radius: 3px;
}
.form-label span {
   color: red;
   font-size: 10px;
   text-transform: none;
   display: block;
   width: 100%;
}
.form-input,
.form-textarea {
   border: none;
   font-size: 16px;
   color: #000;
   font-weight: bold;
   line-height: 1;
   max-width: 346px;
}
.form-textarea {
   min-height: 50px;
}
.form-input:focus,
.form-textarea:focus {
   outline: none;
}
.form-input::placeholder,
.form-textarea::placeholder {
   color: #dfdede;
}
.form-submit {
   display: flex;
   width: 100%;
   justify-content: center;
   border-radius: 3px;
   position: relative;
}
.form-submit:hover {
   text-decoration: none;
}
.form-submit__text {
   color: transparent;
}
.form-submit.hidden .form-submit__text {
   color: #fff;
}
.spinner {
   --color: #ffff;
   --fade-color: #fff;
   --scale: 1;
   --x-speed: 1;
   position: absolute;
   display: block;
   width: 30px;
   height: 30px;
   transform: scale(var(--scale)) rotateZ(0);
   animation: ps-spin calc(15s / var(--x-speed)) linear infinite;
   top: calc(50% - 15px);
   left: calc(50% - 15px);
   z-index: 0;
}
.form-submit.hidden .spinner {
   z-index: -1;
}

@keyframes ps-spin {
   from {
      transform: scale(var(--scale)) rotateZ(0);
   }
   to {
      transform: scale(var(--scale)) rotateZ(-360deg);
   }
}

.spinner span {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
}

.spinner span::before,
.spinner span::after {
   content: "";
   position: absolute;
   width: 8px;
   height: 8px;
   top: 50%;
   transform: translateY(-50%) scale(0.3);
   background-color: rgba(var(--color) / 50%);
   border-radius: 50%;
   animation: ps-spinner-scale calc(1.2s / var(--x-speed)) linear infinite;
}

@keyframes ps-spinner-scale {
   0% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(0.3);
   }
   25% {
      background-color: var(--color);
      transform: translateY(-50%) scale(1);
   }
   80% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(0.3);
   }
   100% {
      background-color: var(--fade-color);
      transform: translateY(-50%) scale(0.3);
   }
}

.spinner span::before {
   left: 0;
}

.spinner span::after {
   right: 0;
}

.spinner span:first-of-type {
   transform: rotateZ(-45deg);
}

.spinner span:last-of-type {
   transform: rotateZ(45deg);
}

.spinner span:nth-of-type(2) {
   transform: rotateZ(90deg);
}

.spinner span:nth-of-type(3)::after {
   animation-delay: calc(0.15s / var(--x-speed));
}
.spinner span:last-of-type::after {
   animation-delay: calc(0.3s / var(--x-speed));
}
.spinner span:nth-of-type(2)::after {
   animation-delay: calc(0.45s / var(--x-speed));
}
.spinner span:first-of-type::before {
   animation-delay: calc(0.6s / var(--x-speed));
}
.spinner span:nth-of-type(3)::before {
   animation-delay: calc(0.75s / var(--x-speed));
}
.spinner span:last-of-type::before {
   animation-delay: calc(0.9s / var(--x-speed));
}
.spinner span:nth-of-type(2)::before {
   animation-delay: calc(1.05s / var(--x-speed));
}

@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 575px) {
}
